<footer>
    <p>Copyright © <%= (new Date().getFullYear()) %> <%= config.author %></p>
    <p><a href="#">ICP：<%= config.ICP || "Your ICP " %></a></p>
    <p>website version <%= config.version %></p>
</footer>