<div class="slogan">
    <h2><%= config.title %></h2>
    <p><%= config.subtitle %></p>
    <div>
        <a class="uk-button uk-button-default uk-margin-medium-right@s uk-box-shadow-hover-large start-btn">快速开始</a>
        <a class="uk-button uk-button-default uk-margin-medium-right@s uk-box-shadow-hover-large start-btn">GITHUB</a>
        <a class="uk-button uk-button-default uk-margin-medium-right@s uk-box-shadow-hover-large start-btn">GITEE</a>
    </div>
</div>


<div>
    <div class="uk-container uk-padding-large">
        <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
            <div>
                <h3>OOP design like JDK</h3>
                <p>经过精雕细琢，我们带给大家一个精心设计的、拥有卓越的视觉与交互体验的文档构建工具</p>
            </div>
            <div>
                <h3>OOP design like JDK</h3>
                <p>经过精雕细琢，我们带给大家一个精心设计的、拥有卓越的视觉与交互体验的文档构建工具</p>
            </div>
            <div>
                <h3>OOP design like JDK</h3>
                <p>经过精雕细琢，我们带给大家一个精心设计的、拥有卓越的视觉与交互体验的文档构建工具</p>
            </div>
            <div>
                <h3>OOP design like JDK</h3>
                <p>经过精雕细琢，我们带给大家一个精心设计的、拥有卓越的视觉与交互体验的文档构建工具</p>
            </div>
        </div>
    </div>
</div>
